.img {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.list-group .list-group-item {
    border-radius: 20px;
    margin-bottom: 5px;
}

.staffDescription {
    font-size: 30px;
}